.accessories {
    margin-top: 100px;
}

.accessoryCard {
    margin: 25px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px black;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, #ff9090 0%, rgb(187, 187, 187) 20%, rgb(187, 187, 187) 80%, #ff9090 100%);
    display: flex;
    flex-direction: column;
    img {
        border-radius: 5px;
        transition: .2s ease-in-out;
        transform: scale(0.9);
        cursor: pointer;
        &:hover {
            transition: .3s ease-in-out;
            transform: scale(1);
        }
    }
    &__price {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        &__priceNew {
            font-weight: 600;
            font-size: 20px;
        }
        &__priceOld {
            color: rgb(97, 97, 97);
            font-size: 18px;
            font-style: italic;
        }
    }
}

.accessories__sort {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    animation: top 1s ease forwards;
    transition: all .9s ease;
    &__check,
    &__price {
        margin: 20px;
    }
}

@keyframes top {
    0% {
        transform: translateY(-900px)
    }
    100% {
        transform: translateY(0)
    }
}

.accessories__product {
    animation: expand 1s ease forwards;
    transition: all .9s ease;
}

@media screen and(max-width: 650px) {
    .accessories__sort {
        flex-direction: column;
    }
}

.bg {
    animation: slide 10s ease-in-out infinite alternate;
    background-image: linear-gradient(-45deg, #ff9d80, #fc8fb9, #91d1e9, #9bf1dd);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}