.accessories {
  margin-top: 100px;
}

.accessoryCard {
  margin: 25px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px 1px black;
          box-shadow: 0px 0px 5px 1px black;
  background: black;
  background: -webkit-gradient(linear, left top, right top, from(#ff9090), color-stop(20%, #bbbbbb), color-stop(80%, #bbbbbb), to(#ff9090));
  background: linear-gradient(90deg, #ff9090 0%, #bbbbbb 20%, #bbbbbb 80%, #ff9090 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accessoryCard img {
  border-radius: 5px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  cursor: pointer;
}

.accessoryCard img:hover {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.accessoryCard__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.accessoryCard__price__priceNew {
  font-weight: 600;
  font-size: 20px;
}

.accessoryCard__price__priceOld {
  color: #616161;
  font-size: 18px;
  font-style: italic;
}

.accessories__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.accessories__sort__check, .accessories__sort__price {
  margin: 20px;
}

@media screen and (max-width: 650px) {
  .accessories__sort {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.bg {
  -webkit-animation: slide 10s ease-in-out infinite alternate;
          animation: slide 10s ease-in-out infinite alternate;
  background-image: linear-gradient(-45deg, #ff9d80, #fc8fb9, #91d1e9, #9bf1dd);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}

@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}

@keyframes slide {
  0% {
    -webkit-transform: translateX(-25%);
            transform: translateX(-25%);
  }
  100% {
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
  }
}
/*# sourceMappingURL=accessories.css.map */