.cart {
  min-height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.cart__product {
  width: 65%;
  text-align: center;
}

.cart__product__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid black;
  margin: 20px;
}

.cart__product__card img {
  height: 150px;
}

.cart__product__card__info {
  text-transform: uppercase;
  font-size: 16px;
}

.cart__product__card__price div {
  margin: 10px 0px;
}

.cart__product__card__quanity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 10px;
}

.cart__price {
  width: 35%;
  margin: 20px;
  text-align: center;
}

.cart__price__money {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 18px;
  padding: 20px;
  border: 1px solid #999;
  border-bottom: none;
}

.cart__price__description {
  font-size: 18px;
  padding: 20px;
  border: 1px solid #999;
}

.cart__price__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 20px;
}

.cart__price__btn a {
  margin: 10px;
}

@media screen and (max-width: 1250px) {
  .cart {
    min-height: 500px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .cart__product {
    width: 100%;
  }
  .cart__price {
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: center;
        align-self: center;
  }
}

@media screen and (max-width: 800px) {
  .cart__product__card {
    margin: 30px 20px;
  }
  .cart__product__card__info {
    font-size: 14px;
  }
  .cart__product__card__price div {
    margin: 10px 0px;
  }
  .cart__product__card__quanity {
    padding: 0px;
  }
}

@media screen and (max-width: 700px) {
  .cart__product__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 30px 20px;
  }
  .cart__product__card img {
    height: 200px;
    margin-bottom: 10px;
  }
  .cart__product__card__info {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .cart__product__card__price {
    margin-bottom: 15px;
  }
}
/*# sourceMappingURL=cart.css.map */