.checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 30px 50px;
}

.checkout__form {
  width: 50%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkout__form__title {
  font-size: 26px;
  font-weight: 600;
}

.checkout__form__customer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
}

.checkout__form__customer__input {
  margin: 20px 0px !important;
}

.checkout__form__customer__select {
  margin: 20px 0px;
}

.checkout__form__payment {
  margin: 30px 0px;
}

.checkout__form__payment__select {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px 30px;
  border: 1px solid #999;
  border-radius: 5px;
}

.checkout__info {
  width: 50%;
  padding: 20px;
  background-color: #f8f7ff;
}

.checkout__info__main {
  height: 350px;
  overflow-x: hidden;
}

.checkout__info__main::-webkit-scrollbar {
  width: 10px;
}

.checkout__info__main::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.checkout__info__main::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d0368a), color-stop(99%, #708ad4));
  background-image: linear-gradient(180deg, #d0368a 0%, #708ad4 99%);
  -webkit-box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
          box-shadow: inset 2px 2px 5px 0 rgba(255, 255, 255, 0.5);
}

.checkout__info__product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

.checkout__info__product__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.checkout__info__product__select img {
  height: 150px;
}

.checkout__info__product__select__name {
  font-size: 18px;
  font-weight: 600;
  margin: 5px;
}

.checkout__info__product__select__quantity {
  font-size: 18px;
  margin: 5px;
  color: #6b6b6b;
}

.checkout__info__product__price {
  font-size: 18px;
}

.checkout__info__discount {
  margin: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout__info__payment {
  margin: 30px 0px;
}

.checkout__info__payment__temp, .checkout__info__payment__discount, .checkout__info__payment__priceship, .checkout__info__payment__pricepayment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0px;
}

@media screen and (max-width: 1300px) {
  .checkout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .checkout__form {
    width: 100%;
  }
  .checkout__info {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .checkout {
    padding: 10px 30px;
  }
}

@media screen and (max-width: 500px) {
  .checkout {
    padding: 10px 0px;
  }
  .checkout__form, .checkout__info {
    padding: 10px;
  }
}
/*# sourceMappingURL=checkout.css.map */