.contact iframe {
  margin: 20px 0px;
}

.contact__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  width: 100%;
}

.contact__form__input {
  width: 50%;
  padding: 0px 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contact__form__input__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact__form__input__area__lb {
  font-size: 18px;
  margin-right: 10px;
}

.contact__form__input__area textarea {
  width: 350px;
  height: 180px;
  padding: 10px;
}

.contact__form__input__area textarea:focus {
  color: #495057;
  background-color: #fff;
  border: 3px solid black;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0px 0px 0px 0.25px #007b0a;
          box-shadow: 0px 0px 0px 0.25px #007b0a;
}

.contact__form__input__row {
  margin-bottom: 10px;
}

.contact__form__input__row label {
  font-size: 18px;
  margin-right: 10px;
}

.contact__form__input__row input {
  width: 350px;
  height: 40px;
  padding: 10px;
}

.contact__form__input__row input:focus {
  color: #495057;
  background-color: #fff;
  border: 3px solid black;
  border-color: #80bdff;
  outline: 0;
  -webkit-box-shadow: 0px 0px 0px 0.25px #007b0a;
          box-shadow: 0px 0px 0px 0.25px #007b0a;
}

.contact__form__input button {
  padding: 10px 40px;
  background-color: #f7f74b;
  font-size: 20px;
  margin: 10px 0px;
  cursor: pointer;
  border-radius: 5px;
}

.contact__form__input button:hover {
  background-color: #a8a826;
}

.contact__form__output {
  width: 50%;
  padding: 0px 25px;
  padding-right: 200px;
}

.contact__form__output__title {
  margin-bottom: 20px;
}

.contact__form__output__location {
  margin-bottom: 20px;
  font-size: 18px;
}

.contact__form__output__pay {
  margin-bottom: 20px;
  font-size: 18px;
}

.contact__form__output__pay p {
  margin: 5px;
}

.contact__form__output__email {
  font-size: 18px;
}

@media screen and (max-width: 1100px) {
  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form__input {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact__form__input__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form__input__area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form__output {
    width: 100%;
    padding: 20px 20%;
    text-align: justify;
  }
}
/*# sourceMappingURL=contact.css.map */