.container {
  height: 100%;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  height: 90px;
  width: 100%;
  z-index: 99;
  -webkit-transition: height .3s ease-out;
  transition: height .3s ease-out;
  -webkit-box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
}

.header.shrink {
  height: 70px;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__left {
  position: absolute;
  width: 100%;
  font-size: 18px;
  top: 40%;
  left: 10%;
}

.header__menu__left__toggle {
  display: none;
  cursor: pointer;
}

.header__menu__left__toggle i {
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  font-size: 26px;
}

.header__menu__left__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__menu__left__item {
  margin-right: 20px;
}

.header__menu__left__item a {
  color: black;
  text-decoration: none;
}

.header__menu__left__item :hover {
  color: #6b6bff;
  text-decoration: underline;
}

.header__menu__left .active {
  text-decoration: underline;
}

.header__menu__logo {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  inset: 0;
}

.header__menu__logo img {
  height: 28px;
}

.header__menu__right {
  position: absolute;
  right: 10%;
  top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header__menu__right__item {
  margin-right: 40px;
}

.header__menu__right__item a {
  color: black;
  font-size: 22px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.header__menu__right__item a :hover {
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media screen and (max-width: 1200px) {
  .header__menu__left {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__menu__left__toggle {
    display: block;
    font-size: 20px;
  }
  .header__menu__left__list {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 82vh;
    top: 60px;
    left: -100%;
    opacity: 0;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .header__menu__left__list__activeClick {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 82vh;
    top: 55px;
    left: -10%;
    width: 50%;
    z-index: 9999;
    -webkit-box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.2);
    opacity: 1;
    background-color: #fff8ec;
    border-radius: 5px;
    -webkit-transition: all .8s ease;
    transition: all .8s ease;
  }
  .header__menu__left__item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 5%;
    margin: 10% 35%;
    width: 100%;
  }
  .header__menu__right__item {
    margin-right: 20px;
  }
}

@media screen and (max-width: 600px) {
  .header__menu__left__list__activeClick {
    height: 50vh;
  }
  .header__menu__left__item {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 5%;
    margin: 10% 25%;
    width: 100%;
  }
  .header__menu__right__item {
    margin-right: 12px;
  }
  .header__menu__right__item a {
    color: black;
    font-size: 20px;
  }
}
/*# sourceMappingURL=header.css.map */